<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>style</key>
	<string>#Form</string>
	<key>Sections</key>
	<array>
		<dict>
			<key>id</key>
			<string>Address</string>
			<key>style</key>
			<string>#Section</string>
			<key>title</key>
			<string>Address Section</string>
			<key>collapsible</key>
			<true/>
			<key>collapsed</key>
			<false/>
			<key>allows-add</key>
			<true/>
			<key>add-items</key>
			<array>
				<string>section</string>
				<string>image</string>
				<string>label</string>
			</array>
			<key>Lines</key>
			<array>
				<dict>
					<key>id</key>
					<string>AddressHeading</string>
					<key>style</key>
					<string>#Line</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>AddressHeading</string>
							<key>type</key>
							<string>Heading</string>
							<key>caption</key>
							<string>Address</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>Street</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>Street</string>
							<key>type</key>
							<string>Text</string>
							<key>caption</key>
							<string>Street</string>
							<key>value</key>
							<string></string>
							<key>required</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>City</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>City</string>
							<key>type</key>
							<string>Text</string>
							<key>caption</key>
							<string>City</string>
							<key>value</key>
							<string></string>
							<key>required</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>County</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>County</string>
							<key>type</key>
							<string>Text</string>
							<key>caption</key>
							<string>County</string>
							<key>value</key>
							<string></string>
							<key>required</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>State</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>State</string>
							<key>type</key>
							<string>Text</string>
							<key>caption</key>
							<string>State</string>
							<key>value</key>
							<string></string>
							<key>required</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>Province</string>
					<key>visible</key>
					<false/>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>Province</string>
							<key>type</key>
							<string>Text</string>
							<key>caption</key>
							<string>Province</string>
							<key>value</key>
							<string></string>
							<key>required</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>ZipCode</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>ZipCode</string>
							<key>type</key>
							<string>Text</string>
							<key>caption</key>
							<string>Zip Code</string>
							<key>value</key>
							<string></string>
							<key>required</key>
							<true/>
							<key>Requirements</key>
							<array>
								<dict>
									<key>id</key>
									<string>Minimum</string>
									<key>value</key>
									<string>5</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>Email</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>Email</string>
							<key>type</key>
							<string>Text</string>
							<key>caption</key>
							<string>Email</string>
							<key>value</key>
							<string></string>
							<key>required</key>
							<true/>
							<key>Requirements</key>
							<array>
								<dict>
									<key>id</key>
									<string>Format</string>
									<key>value</key>
									<string>email</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>PostalCode</string>
					<key>visible</key>
					<false/>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>PostalCode</string>
							<key>type</key>
							<string>Text</string>
							<key>caption</key>
							<string>Postal Code</string>
							<key>value</key>
							<string></string>
							<key>required</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>BusinessAddress</string>
					<key>visible</key>
					<true/>
					<key>required</key>
					<true/>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>BusinessAddress</string>
							<key>type</key>
							<string>CheckBox</string>
							<key>caption</key>
							<string>Business Address</string>
							<key>required</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>Country</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>Country</string>
							<key>type</key>
							<string>ComboBox</string>
							<key>required</key>
							<true/>
							<key>caption</key>
							<string>Country</string>
							<key>value</key>
							<integer>1</integer>
							<key>option-set</key>
							<string>Country</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>Delivery</string>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>Delivery</string>
							<key>type</key>
							<string>OptionSet</string>
							<key>required</key>
							<true/>
							<key>caption</key>
							<string>Delivery Type</string>
							<key>value</key>
							<integer>1</integer>
							<key>option-set</key>
							<string>Delivery</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>TextFields</string>
					<key>visible</key>
					<true/>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>Text1</string>
							<key>type</key>
							<string>Label</string>
							<key>caption</key>
							<string>Text 1</string>
							<key>value</key>
							<string>test text here</string>
							<key>required</key>
							<false/>
						</dict>
						<dict>
							<key>id</key>
							<string>Text2</string>
							<key>type</key>
							<string>Label</string>
							<key>caption</key>
							<string>Text 2</string>
							<key>value</key>
							<string>test text here 2</string>
							<key>required</key>
							<false/>
						</dict>
						<dict>
							<key>id</key>
							<string>Text3</string>
							<key>type</key>
							<string>Label</string>
							<key>caption</key>
							<string>Text 3 test text here 3 test test test test test test test test test test test test 2</string>
							<key>value</key>
							<string>test text here 3 test test test test test test test test test test test test</string>
							<key>required</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>TextAreas</string>
					<key>visible</key>
					<true/>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>TextArea1</string>
							<key>type</key>
							<string>TextArea</string>
							<key>caption</key>
							<string>Text Area 1</string>
							<key>value</key>
							<string>test text here</string>
							<key>required</key>
							<true/>
						</dict>
						<dict>
							<key>id</key>
							<string>TextArea2</string>
							<key>type</key>
							<string>TextArea</string>
							<key>caption</key>
							<string>Text Area 2 test test test test test test test test test test test test test test 2</string>
							<key>value</key>
							<string>Text Area 2 test test test test test test test test test test test test test test 2 Text Area 2 test test test test test test test test test test test test test test 2</string>
							<key>required</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>Image</string>
					<key>visible</key>
					<true/>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>welcome</string>
							<key>type</key>
							<string>Image</string>
							<key>caption</key>
							<string>you&apos;re welcome!</string>
							<key>value</key>
							<string>welcome</string>
							<key>required</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>StartDate</string>
					<key>visible</key>
					<true/>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>StartDate</string>
							<key>type</key>
							<string>DatePicker</string>
							<key>caption</key>
							<string>Start Date</string>
							<key>value</key>
							<string></string>
							<key>required</key>
							<true/>
							<key>dateType</key>
							<string>date</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>MyImage</string>
					<key>visible</key>
					<true/>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>MyImage</string>
							<key>type</key>
							<string>ImagePicker</string>
							<key>caption</key>
							<string>Select an Image!</string>
							<key>required</key>
							<true/>
							<key>picker-mode</key>
							<string>album</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>Signature</string>
					<key>visible</key>
					<true/>
					<key>Fields</key>
					<array>
						<dict>
							<key>id</key>
							<string>Signature</string>
							<key>type</key>
							<string>signature</string>
							<key>caption</key>
							<string>Sign here!</string>
							<key>required</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
